setuptools>=70.0
django>=6.0,<7.0
gunicorn>=23.0,<24.0
mysqlclient>=2.2,<3.0
razorpay>=2.0,<3.0
reportlab>=4.0,<5.0
whitenoise[brotli]
dj-database-url
python-dotenv
google-generativeai
pyotp>=2.9,<3.0
